.main {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.cardList {
  display: flex;
  justify-content: space-around;
}

.main > button {
  max-width: 200px;
  align-self: center;
}

.title {
  text-align: center;
}

.counter {
  text-align: center;
  text-transform: uppercase;
}